@media screen and (max-width: 1200px) {
    .product-details-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-details-section .product-img img {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    header .bottom-header .moving-container {
        margin-left: 80px;
    }

    main {
        margin: 130px 0 0;
    }

    #menu-container ul li .signup-btn,
    #menu-container ul li .login-btn {
        display: block;
    }

    .top-header .button-container a {
        display: none;
    }

    header .bottom-header .logo {
        width: 80px;
    }

    #popup-container .popup .button {
        padding: 8px 20px;
    }

    .island-sec.discover-sec .content {
        flex-wrap: wrap;
        height: fit-content;
    }

    .island-sec.discover-sec .content h2 {
        width: 100%;
    }

    #favorite-page .favorite-page-menu {
        min-height: 100px;
        padding: 20px 3%;
    }
}

@media screen and (max-width: 686px) {
    .product-details-section {
        grid-template-columns: 1fr;
    }

    #favorite-page .favorite-page-menu {
        min-height: 70px;
        column-gap: 11px;
    }

    .profile-sec .product-details-section .product-content .empty-div {
        display: none;
    }

    #favorite-page .favorite-page-menu a {
        font-size: 14px;
    }

    #favorite-page .favorite-page-menu a i {
        font-size: 27px;
    }
}


@media screen and (max-width: 500px) {
    main {
        margin: 110px 0 0;
    }

    #popup-container .popup .button {
        font-size: 20px;
    }

    #popup-container .popup .button:nth-of-type(2) {
        margin-left: 10px;
    }

    .top-header nav ul {
        column-gap: 10px;
    }

    .top-header nav ul li a {
        font-size: 16px;
        letter-spacing: -1px;
    }

    header .bottom-header {
        width: 100%;
        height: 60px;
    }

    header .bottom-header .logo {
        width: 70px;
    }

    #favorite-page .favorite-page-menu {
        min-height: 50px;
    }

    #favorite-page .favorite-page-menu a {
        font-size: 12px;
    }

    footer {
        justify-content: center;
    }

    footer>ul {
        display: none;
    }

    .bottom-footer {
        text-align: center;
    }
}